<div class="login-box">
  <h2>Login <span (click)="goRegister()" class="link">register</span></h2>
  <div style="margin-left:20px;">
    <div class="example-container">
      <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()" class="example-form">
        <p>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" >
              <mat-error *ngIf="checkError('email', 'required')">email is required</mat-error>
              <mat-error *ngIf="checkError('email', 'email')">Not valid email address</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" >
              <mat-error *ngIf="checkError('password', 'required')">password is required</mat-error>
              <mat-error *ngIf="checkError('password', 'minlength')">password must be at least 6 characters long</mat-error>
            </mat-form-field>
          </p>       
        <button type="submit" [disabled]="!loginForm.valid" >Submit</button>
      </form>
      </div>
    </div>
  
  <span style="color: azure;">{{message}}</span>
</div>